{%include 'admin_header.html'%} <br /><br />
{% if data['up']%}
<section class="vh-200" style="background-color: #ffffff">
    <div class="container h-100">
        <br /><br /><br />
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: #9d1313">
                                    Update Blood Group
                                </p>

                                <form action="" method="post">
                                    <table>
                                        <tr>
                                            <th>Group Name</th>
                                            <td>
                                                <input
                                                    type="text"
                                                    name="group_name"
                                                    value="{{data['up'][0]['group_name']}}"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Group Description</th>
                                            <td>
                                                <input
                                                    type="text"
                                                    name="desc"
                                                    value="{{data['up'][0]['group_description']}}"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td>
                                                <input type="submit" value="Update" name="update" class="btn btn-info" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="static/assets/images/pngwing.com(36).png" class="img-fluid" alt="Sample image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%else%}

<section class="vh-200" style="background-color: #ffffff">
    <div class="container h-100">
        <br /><br /><br />
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"></p>
                                <h1 class="bounceInDown" style="color: #9d1313">Add Blood Group</h1>

                                <form action="" method="post">
                                    <table>
                                        <tr>
                                            <th>Group Name</th>
                                            <td><input type="text" name="group_name" required /></td>
                                        </tr>
                                        <tr>
                                            <th>Group Description</th>
                                            <td><input type="text" name="desc" required/></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <input type="submit" value="Add" name="submit" class="btn btn-info" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="static/assets/images/pngwing.com(36).png" class="img-fluid" alt="Sample image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<br /><br />
<center>
    <h1>View Blood Group</h1>
    <div class="loading">
        <svg height="48px" width="64px">
            <polyline id="back" points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24"></polyline>
            <polyline id="front" points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24"></polyline>
        </svg>
    </div>
</center>
<style>
    .loading svg polyline {
        fill: none;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .loading svg polyline#back {
        fill: none;
    }

    .loading svg polyline#front {
        fill: none;
        stroke: #ff0000;
        stroke-dasharray: 48, 144;
        stroke-dashoffset: 192;
        animation: dash_682 1.4s linear infinite;
    }

    @keyframes dash_682 {
        72.5% {
            opacity: 0;
        }

        to {
            stroke-dashoffset: 0;
        }
    }
</style>

<style>
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;

        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    form {
        width: 100%;
        overflow-x: auto;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        border-radius: 8px;
        overflow: hidden;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
    }

    th {
        background-color: rgb(170, 38, 21);
        color: #ffffff;
    }

    tr:hover {
        background-color: rgba(34, 31, 70, 0.108);
    }

    a {
        text-decoration: none;
        color: #3498db;
        transition: color 0.3s;
        font-weight: bold;
    }

    a:hover {
        color: #2980b9;
    }

    /* Responsive styles */
    @media only screen and (max-width: 600px) {
        table {
            width: 100%;
        }

        th,
        td {
            display: block;
            width: 100%;
        }
    }
</style>

<center>
    <table border="2" style="width: 1200px">
        <tr>
            <th>Blood Group</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        {%for i in data['blood']%}
        <tr>
            <td>{{i['group_name']}}</td>
            <td>{{i['group_description']}}</td>
            <td><a href="?action=delete&id={{i['group_id']}}" class="btn btn-danger">delete</a></td>
            <td><a href="?action=update&id={{i['group_id']}}" class="btn btn-info">update</a></td>
        </tr>
        {%endfor%}
    </table>
    {%endif%}
</center>
<br /><br /><br />
{%include 'footer.html'%}
