<!-- <h1>Blood</h1>
<a href="bl_send_requirement">bl_send_requirement</a><br />
<a href="bl_manage_donation_col">bl_manage_donation</a><br />
<a href="bl_manage_distribution">bl_manage_distribution</a><br />
<a href="bl_requests">bl_requests</a> -->
{%include 'blood_header.html'%}

<!-- ################# Slider Starts Here#######################--->

<div class="slider-detail">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="static/assets/images/slider/Picsart_24-04-23_17-09-52-936.jpg" alt="First slide" />
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="bounceInDown">Donate Blood & Save a Life</h5>
                </div>
            </div>

            <div class="carousel-item">
                
                <img class="d-block w-100" src="static/assets/images/slider/Picsart_24-04-23_17-10-38-670.jpg" alt="Third slide" />
                <div class="carousel-caption vdg-cur d-none d-md-block">
                    <h5 class="bounceInDown">Donate Blood & Save a Life</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!--*************** About Us Starts Here ***************-->
<section id="about" class="contianer-fluid about-us">
    <div class="container">
        <div class="row session-title">
            <h2>About Us</h2>
            <p>"Join us in our mission to save lives through blood donation - every drop counts!"</p>
        </div>
        <div class="row">
            <div class="col-md-6 text">
                <h2>About Blood Doners</h2>
                <p>
                    Welcome to our blood donation website, where every click can save a life. We're dedicated to facilitating the vital connection between donors and recipients, ensuring that no one faces a shortage in their time of need. Our platform empowers you to make a difference with ease.
                </p>
                <p>
                    Join our community of donors who are committed to making a lasting impact on the health and well-being of others. Whether you're a first-time donor or a regular contributor, your participation is invaluable.
                </p>
                <p>
                    Welcome to our blood donation website, where every click can save a life. We're dedicated to facilitating the vital connection between donors and recipients, ensuring that no one faces a shortage in their time of need. Our platform empowers you to make a difference with ease.

                    At our core, we're driven by compassion and the belief that everyone deserves access to life-saving blood. Through our user-friendly interface, you can locate nearby donation centers, schedule appointments, and learn about the donation process.
                    
                    Join our community of donors who are committed to making a lasting impact on the health and well-being of others. Whether you're a first-time donor or a regular contributor, your participation is invaluable.
                    
                    With each donation, you're not just giving blood — you're giving hope. Your generosity has the power to transform lives and inspire others to do the same.
                </p>
                <p>
                
                </p>
            </div>
            <div class="col-md-6 image">
                <img src="static/assets/images/about.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- ################# Gallery Start Here #######################--->

<div id="gallery" class="gallery container-fluid">
    <div class="container">
        <div class="row session-title">
            <h2>Checkout Our Gallery</h2>
        </div>
        <div class="gallery-row row">
            <div id="gg-screen"></div>
            <div class="gg-box">
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g1.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g2.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g3.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g4.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g5.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g6.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g7.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g8.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g9.jpg" />
                </div>
                <div class="gg-element">
                    <img src="static/assets/images/gallery/g10.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ################# Donation Process Start Here #######################--->

<section id="process" class="donation-care">
    <div class="container">
        <div class="row session-title">
            <h2>Donation Process</h2>
            <p style="margin-left: 250px;">The donation process from the time you arrive center until the time you leave</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="static/assets/images/gallery/g1.jpg" alt="" />
                    <h4><b>1 - </b>Registration</h4>
                    <p>
                        Begin by registering as a donor, providing your basic information and medical history to ensure eligibility
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="static/assets/images/gallery/g2.jpg" alt="" />
                    <h4><b>2 - </b>Screening</h4>
                    <p>
                        Undergo a brief medical examination to assess your health and suitability for donation, including a check of vital signs and hemoglobin levels.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="static/assets/images/gallery/g3.jpg" alt="" />
                    <h4><b>3 - </b>Donation</h4>
                    <p>
                        Proceed to the donation area where trained staff will collect your blood through a sterile, safe process that typically takes around 10-15 minutes.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="static/assets/images/gallery/g4.jpg" alt="" />
                    <h4><b>4 - </b>Refreshment</h4>
                    <p>
                        After donation, replenish your fluids and enjoy a light snack to help your body recover, ensuring a positive donation experience and well-being
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{%include 'footer.html'%}

