<!DOCTYPE html>versions 5
<html lang="en">
    html definee
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Large</h1>
        <h6>small</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ad repellendus doloribus facilis unde hic velit,
            dignissimos non ab iusto reprehenderit accusamus ea, corrupti, voluptate necessitatibus nam vitae. Maiores,
            beatae?
        </p>
        <u
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione dolorum in voluptatibus pariatur numquam
            quos asperiores nobis! Ab vero inventore id perspiciatis repellat quo soluta rem illo aliquam eligendi.</u
        >
        <b
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit debitis, ullam autem aut labore aperiam,
            architecto animi rerum nam repudiandae dicta fuga quam rem pariatur, dolor laudantium sunt libero in.</b
        >
        <strong
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius sed quis mollitia quia provident
            dolores, officia delectus doloremque reiciendis, exercitationem numquam minus quo repudiandae deleniti vel
            atque, ut cumque!</strong
        >
        <i
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sed accusantium, voluptatem vero quasi eveniet
            iste soluta illum atque a, sit aliquid nemo ex laborum repellendus excepturi doloremque? Possimus, ipsa?</i
        >
        <em
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis quod consequatur fugit sunt quasi facere
            totam nihil dolores soluta quisquam, libero corrupti harum vero voluptate porro beatae obcaecati, commodi
            accusamus.</em
        >
        <ins
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo fuga voluptatibus aperiam hic rerum saepe,
            consequuntur commodi quos cupiditate nihil laborum quisquam aliquid ducimus eum perferendis quibusdam? Laborum,
            nam architecto.</ins
        >
        <a href="youtube">youtube</a>
        <img src="" alt="" />

        <h1 style="color: rgb(14, 18, 17)">hekko</h1>

        
    </body>
</html>
